.mui-qp9vba-MuiTooltip-tooltip {
  background-color: #397dfd !important;
}

.mui-tusapy {
  background-color: #397dfd !important;
}

.mui-kudwh-MuiTooltip-arrow {
  color: #397dfd !important;
}

.mui-1urvb1y {
  color: #397dfd !important;
}